.ball {
    width: 55px;
    height: 55px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 2px solid black;
    margin: 10px;
}
